@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

button {
  cursor: pointer;
}


.btn-primary {
  background-color: #1d4ed8;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin: 0.5rem;
  cursor: pointer;
}

.btn-secondary {
  background-color: #6b7280;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  margin: 0.5rem;
  cursor: pointer;
}
